:root {
	--button-on-background-color: rgb(210, 247, 195);
	--button-off-background-color: rgb(255, 179, 179);
	--button-icon-on-color: rgb(0, 100, 0);
	--button-icon-off-color: rgb(255, 0, 0);
	--header-elevation-color: #2196f3;
	--header-elevation-text-color: white;
	--background-elevation-color: white;
	--scrollbarBG: rgb(210, 247, 195);
	--thumbBG: rgb(0, 100, 0);
	--hover-background-color: rgb(210, 247, 195);
	--fieldset-hover-background-color: rgb(219, 223, 198);
}

html {
	height: 100%;
	position: relative;
}
body {
	color: #404040;
	margin: 0;
	padding: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	-webkit-font-smoothing: antialiased;
}

* {
	box-sizing: border-box;
}

#drawroute-body {
	position: absolute;
}

#map-container {
	position: relative;
	display: flex;
	height: 100vh;
}

.map {
	position: absolute;
	width: 100%;
	height: 100vh;
	float: left;
}

.popupmap {
	width: 100%;
	height: 75vh;
	position: relative;
}

.message-box {
	position: relative;
	top: 0em;
	left: 0em;
}

#menu-dropdown {
	position: absolute;
	display: flex;
	top: 0.35em;
	z-index: 10;
	transition-delay: 0.5s;
}
#menu-dropdown label {
	margin: auto;
}

.menu-column {
	position: fixed;
	display: flex;
	flex-flow: row wrap;
	margin: 0.625em 0em 0em 0.625em;
	max-height: calc(100% - 4.6875em);
	overflow-y: auto;
	overflow-x: hidden;
	min-width: 3.75em;
	border-style: solid;
	border-width: 0.0625em;
	border-color: white;
	border-radius: 0.25em;
	z-index: 10;
	scrollbar-width: thin;
	scrollbar-color: var(--thumbBG) var(--scrollbarBG);
	background-color: rgba(255, 255, 255, 0.5);
}

#menu-column,
#menu-dropdown,
#info-instructions,
#select-routing-set,
#select-mapping-options,
#elevationChartDiv {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: margin-left 0.3s ease-in-out 0.3s;
}

.menu-column .menu-brand {
	padding: 0em 2.5em 0em 0.625em;
	display: flex;
	white-space: nowrap;
	align-items: center;
	top: 0em;
	position: relative;
	background-color: white;
	text-transform: uppercase;
	font-weight: bold;
	margin: 0.625em 0em 0em 0.5em;
	color: rgb(0, 100, 0);
	border-radius: 0.25em;
}

.menu-column .menu-brand #close-menu {
	cursor: pointer;
	font-size: 1.25em;
	position: absolute;
	right: 0.3125em;
}
#close-menu {
	color: #bdbdbd;
}
#close-menu:hover {
	color: var(--button-icon-on-color);
}

#menu-items {
	position: relative;
	left: 0em;
	transition: 0.3s;
	width: min-content;
	margin-right: 0.3125em;
	overflow: hidden;
	padding-bottom: 0.9375em;
}

.info-box {
	position: relative;
	display: inline-flex;
	flex-direction: column;
	max-height: 250em;
	top: 0em;
	left: 0.6em;
	padding: 0.375em 0.375em 0.375em 0.375em;
	text-align: left;
	font-family: "Arial";
	font-size: 0.75em;
	border-radius: 0.3em;
	overflow-y: auto;
	overflow-x: hidden;
	margin: 0.375em 0.6em 0em 0em;
	background-color: #fff;
}
.info-box > div {
	display: inline-flex;
}
.menu-icon {
	top: 0em;
	left: 0.75em;
	color: black;
	border-radius: 0.3em;
	border-style: solid;
	border-width: 0.0625em;
	border-color: black;
	font-family: "Helvetica Neue";
	cursor: pointer;
	font-size: 0.9375em;
	height: 1.875em !important;
	width: 1.875em !important;
	background-color: #fff;
}
.menu-icon .menu-icontip {
	visibility: hidden;
	width: auto;
	background-color: white;
	color: black;
	text-align: left;
	border-radius: 0.25em;
	border-style: solid;
	border-width: 0.0625em;
	border-color: black;
	font-size: 0.625em;
	padding: 0em 0.3125em 0em 0.1em;
	white-space: nowrap;
	z-index:11;
}
span.menu-icontip.right {
	margin: 0em 0em 0em 0em;
	top: 0em;
    left: 3.4em;
    position: absolute;
}
span.menu-icontip.rightsmall {
	margin: 0em 0em 0em 0em;
	top: 0em;
    left: 2.6em;
    position: absolute;
}
.horiz-icons {
	height: 2em;
	display: flex;
	gap: 0.2em;
}


#calcMapping,
#calcDirections,
#calcRoute,
#export,
#updateDataset,
#exportToGPX,
#import,
#openroutes,
#inspectmap,
#deleteEverything,
#showelevation,
#undopoint,
#redopoint,
#deletepoint {
	position: relative;
	display: inline-block;
	color: black;
	border-radius: 0.3em;
	border-style: solid;
	border-width: 0.0625em;
	border-color: black;
	font-family: "Helvetica Neue";
	cursor: pointer;
	font-size: 0.9375em;
	text-decoration: none;
	text-align: center;
	height: 1.875em !important;
	width: 1.875em !important;
	padding: 0.1875em 0em 0em 0em;
	margin: 0.3em 0em 0em 0em;
}

.fas {
	margin:auto;
}

#menuIconButton,
#calcMappingButton,
#inspectmapbutton {
	position: relative;
	display: none;
}
#calcMapping:hover,
#calcMappingButton:hover + label::before {
	position: relative;
    background-color: var(--hover-background-color);
	transition: all 0.3s;
	color: var(--button-icon-on-color);
	cursor: pointer;
	border-color: red;
}
#calcMappingButton + label::before {
	position: relative;
	color: black;
	cursor: pointer;
}
#inspectmapbutton + label::before {
	position: relative;
	color: var(--button-icon-off-color);
	cursor: pointer;
}
#menuIconButton:checked + label:before,
#calcMappingButton:checked + label::before,
#inspectmapbutton:checked + label::before {
	position: relative;
	color: var(--button-icon-on-color);
	background-color: var(--button-on-background-color);
	cursor: pointer;
	z-index: 10;
}
#menuIconButton:checked ~ .dropdown-background,
#calcMappingButton:checked ~ .update-background,
#inspectmapbutton:checked ~ .update-background {
	background-color: var(--button-on-background-color);
	z-index: 5;
}

#inspectmapbutton:checked + label::after {
	position: relative;
	color: var(--button-icon-on-color);
}

#showelevation,
#undopoint,
#redopoint,
#deletepoint {
	height: 1.375em !important;
	width: 1.375em !important;
	padding: 0.1875em 0em 0em 0em;
	margin: 0.3em 0em 0em 0em;
}

#export:hover,
#updateDataset:hover,
#exportToGPX:hover,
#undopoint:hover,
#deletepoint:hover,
#redopoint:hover,
#calcRoute:hover,
#calcMapping:hover,
#calcMappingButton:hover,
#calcDirections:hover,
#import:hover,
#openroutes:hover,
#inspectmap:hover,
#deleteEverything:hover,
#showelevation:hover,
#menu-dropdown:hover {
	background-color: var(--hover-background-color);
	transition: all 0.3s;
	color: var(--button-icon-on-color);
	border-color: red;
}

#select-type-set:hover,
#select-routing-set:hover,
#select-mapping-options:hover {
	background-color: var(--fieldset-hover-background-color);
	transition: all 0.3s;
	border-color: red;
}

.menu-icon:hover .menu-icontip, .menu-icon:hover .triangle-left {
	visibility: visible;
}

.arrow {
	border: solid black;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
}
.triangle-left {
	visibility: hidden;
    width: 0;
    height: 0;
    border-top: 0.2em solid transparent;
    border-right: 0.4em solid #555;
    border-bottom: 0.2em solid transparent;
    z-index: 11;
}
.menudropdown .triangle-left.right {
	position: absolute;
	margin: 0.3em 0em 0em 0.4em;
	top: 0em;
	left: 1.4em;
}
.right {
	position: absolute;
    margin: 0.3em 0em 0em 0.4em;
	top: 0.0em;
	left: 1.4em;
}
.rightsmall {
	position: absolute;
    margin: 0.3em 0em 0em 0.4em;
	top: 0.0em;
	left: 0.9em;
	z-index:40;
}
.triangle-up {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 0.2em solid transparent;
    border-right: 0.2em solid transparent;
	border-bottom: 0.4em solid #555;
    margin: 0.3em 0em 0em 0.4em;
    z-index: 10;
}
.triangle-down {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 0.2em solid transparent;
    border-right: 0.2em solid transparent;
	border-top: 0.4em solid #555;
    margin: 0.3em 0em 0em 0.4em;
    z-index: 10;
}
.triangle-right {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 0.2em solid transparent;
    border-bottom: 0.2em solid transparent;
	border-left: 0.4em solid #555;
    margin: 0.3em 0em 0em 0.4em;
    z-index: 10;
}
.topright {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
  }


#features {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 50%;
	overflow: auto;
	background: rgba(255, 255, 255, 0.8);
}
/* #map, canvas {
    cursor: crosshair;
} */
.hide {
	/* position: absolute !important; */
	/* visibility: hidden; */
	top: -9999px !important;
	left: -9999px !important;
	margin-left: -300em;
	transition: all 0.5s;
}
.white-icon {
	color: white;
}
.red-icon {
	color: red;
}

/* Select style and float over map */
.selectmenu {
	background-color: #fff;
	z-index: auto;
	border: 0.0625em solid #eee;
	font-size: 0.75em;
	text-align: center;
	vertical-align: middle;
	height: auto;
	margin: 0.625em;
	margin-top: 0em;
}

fieldset {
	position: relative;
	display: inline-block;
	top: 0em;
	left: 0.75em;
	width: min-content;
	border: 0.0625em solid;
	border-color: black;
	border-radius: 0.25em;
	box-sizing: border-box;
	margin: 0em 1.5625em 0em 0em;
}

fieldset > legend {
	font-size: 0.625em;
	text-align: center;
	width: auto;
	margin: 0em 0em 0em 0.3125em;
	color: black;
	padding: 0.3125em 0.3125em 0.3125em 0.3125em;
}

fieldset.select-mapping-options {
	white-space: nowrap;
	padding-right: 1.3125em;
}

.radio-inline > label {
	font-size: 0.6875em;
	margin: 0.125em;
}

.fa-mountain::before,
.fa-undo-alt::before,
.fa-redo-alt::before,
fieldset .fa-trash-alt::before {
	position: relative;
	top: -0.33em;	
	z-index: 10;
}

#showelevationbutton {
	position: relative;
	display: none;
}

#showelevationbutton:checked + label:before {
	position: relative;
	color: var(--button-icon-on-color);
	cursor: pointer;	
	z-index: 10;
}

#showelevationbutton:checked ~ .update-background {
	background-color: var(--button-on-background-color);
	cursor: pointer;
	z-index: 5;
}

#showelevationbutton + label:before {
	position: relative;
	color: var(--button-icon-off-color);
	cursor: pointer;
	z-index: 10;
}

.undopoint:disabled,
.redopoint:disabled,
.deletepoint:disabled {
	background-color: var(--button-off-background-color);
	outline: none;
	/* z-index: 5; */
}

.undopoint:enabled,
.redopoint:enabled,
.deletepoint:enabled {
	background-color: var(--button-on-background-color);
	outline: none;
	/* z-index: 5; */
}

.form-check-inline {
	color: black;
	padding: 0.3125em 0.3125em 0.3125em 0.3125em;
}

#spinner:not([hidden]) {
	position: absolute;
	top: 0em;
	left: 0em;
	right: 0em;
	bottom: 0em;
	display: flex;
	justify-content: center;
	align-items: center;
}

#spinner::after {
	content: "";
	width: 80em;
	height: 80em;
	border: 0.125em solid #f3f3f3;
	border-top: 0.1875em solid #f25a41;
	border-radius: 100%;
	will-change: transform;
	animation: spin 1s infinite linear;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

#elevationChartDiv {
	position: absolute;
	right: 3em;
	bottom: 1.875em;
	z-index: auto;
	padding: 0em 0em 2em 0em;
	background: var(--background-elevation-color);
	height: 100px;
	width: 100px;
	resize: both;
	overflow: hidden;
}

#elevationChartDivHeader {
	text-align: center;
	padding: 0.1875em;
	cursor: move;
	z-index: auto;
	background-color: var(--header-elevation-color);
	color: #fff;
}

.mbgl-features-popup {
	width: 400em;
	max-width: 400em;
	overflow-y: auto;
}

.trip-directions {
	position: relative;
	display: flex;
	flex-direction: column;
}

.trip-directions-content {
	display: none;
	position: relative;
	background-color: #f9f9f9;
	padding: 0.375em 0.375em 0.375em 0.375em;
	z-index: auto;
	overflow-y: auto;
	border-radius: 0.25em;
	border-style: solid;
	border-width: 0.0625em;
	border-color: black;
	width: 100%;
}

.trip-directions:hover .trip-directions-content {
	display: inline-flex;
	max-height: 200em;
	flex-direction: column;
	flex-shrink: 1;
	scrollbar-width: thin;
	scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
.trip-directions-content .btn {
	margin-bottom: 0.3125em;
}

.update-background,
.dropdown-background {
	position: absolute;
	top: 0em;
	bottom: 0em;
	left: 0em;
	right: 0em;
	border-radius: 0.3em;
	z-index: -1;
}

/*------scroll bar---------------------*/

::-webkit-scrollbar {
	width: 0.3125em;
	height: 0.4375em;
}
::-webkit-scrollbar-button {
	width: 0em;
	height: 0em;
}
::-webkit-scrollbar-thumb {
	background: #525965;
	border: 0em none #ffffff;
	border-radius: 0em;
}
::-webkit-scrollbar-thumb:hover {
	background: #525965;
}
::-webkit-scrollbar-thumb:active {
	background: #525965;
}
::-webkit-scrollbar-track {
	background: transparent;
	border: 0em none #ffffff;
	border-radius: 50em;
}
::-webkit-scrollbar-track:hover {
	background: transparent;
}
::-webkit-scrollbar-track:active {
	background: transparent;
}
::-webkit-scrollbar-corner {
	background: transparent;
}

/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
}

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
}

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
}

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 82.125em) and (max-device-width: 1112px) and (-webkit-min-device-pixel-ratio: 2) {
}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen and (min-device-width: 82.125em) and (max-device-width: 82.125em) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen and (min-device-width: 1112px) and (max-device-width: 1112px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
}

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
} /* Chrome version 29 and above */
@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
	selector {
		property: value;
	}
}

/* Chrome version 22-28 */
@media screen and(-webkit-min-device-pixel-ratio:0) {
	selector {
		-chrome-: only (; property: value;);
	}
}

/* Chrome, Safari, and also the Edge Browser and Firefox */
@media and (-webkit-min-device-pixel-ratio: 0) {
	selector {
		property: value;
	}
}
/* Safari 11+ */
@media not all and (min-resolution: 0.001dpcm) {
	@supports (-webkit-appearance: none) and (stroke-color: transparent) {
		selector {
			property: value;
		}
	}
}

/* Safari 10.1 */
@media not all and (min-resolution: 0.001dpcm) {
	@supports (-webkit-appearance: none) and (not (stroke-color: transparent)) {
		selector {
			property: value;
		}
	}
}

/* Safari 6.1-10.0 (but not 10.1) */
@media screen and (min-color-index: 0) and(-webkit-min-device-pixel-ratio:0) {
	@media {
		selector {
			property: value;
		}
	}
}
