<!DOCTYPE html>
    {% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" integrity="sha256-gvEnj2axkqIj4wbYhPjbWV7zttgpzBVEgHub9AAZQD4=" crossorigin="anonymous" />
    <link href="{% static 'triplog/style.css' %}" rel="stylesheet" type="text/css">


    {% load crispy_forms_tags %}
    {% load widget_tweaks %}
    
    {# Load the tag library #}
    {% load bootstrap4 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}

    {% load mapbox_location_field_tags %}
    {% location_field_includes %}
    {% include_jquery %}
   
    {% block head %}

    <title>Captains Log - Triplog</title>
    {% endblock %}
</head>
<body>
    {% block bootstrap4_content %}
        <div class="container-fluid p-2 my-2 bg-dark text-white">
            <!--Use .container-fluid for a full width container, spanning the entire width of the viewport.-->
            <!--padding (p) 2 and margins (m) 2  (y) top and bottom Dark background with white text -->
            <div class="col-8">
                <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
                    <!--<a class="navbar-brand" href="#">Captain's Log</a>-->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
              
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <!-- mr-auto - margin right -->
                            <li class="nav-item"><a class="nav-link" href="{% url 'journeyindex' %}">Journey Index <span class="sr-only">(current)</span></a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'addjourney' %}">Add Journey</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'addsite' %}">Add Site</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'siteindex' %}">Site Index</a></li>
                      </ul>
                    </div>
                  </nav>
                <div class=ml-4>  <h2>{% block title %}(no title){% endblock %}</h2> </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="col-12">
                {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}
                {% block content %}(no content){% endblock %}
                {% bootstrap_javascript jquery='full' %}
                {{ form.media }}
            </div>

        </div>
    {% endblock bootstrap4_content%}
    <footer>
        <p class="small ml-4" >&copy; Michael Naylor <script type="text/javascript">document.write( new Date().getFullYear() );</script></p>
    </footer>

</body>
</html>