{% extends "triplog/base.html" %}

{% load bootstrap4 %}

{% block title %}
    {%if journey_details_title%}
    <h3> {{journey_details_title}} </h3>
    {%endif%}
{% endblock %}


{% block content %}
<body class="bg-light">
    <form role="form" class="form" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="container">
            <div class="col-md-8 order-md-1">
                {% if form.subject.errors %}
                    <ol role="alertdialog">
                        {% for error in form.subject.errors %}
                        <li role="alert"><strong>{{ error|escape }}</strong></li>
                        {% endfor %}
                    </ol>
                {% endif %}
                {% if form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in form.non_field_errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
                <h4 class="mb-3">Dates</h4>
                <form class="needs-validation" novalidate>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            {{ form.start_date.errors }}
                            {{ form.start_date.label_tag }}{% if form.start_date.field.required %}<span style="color:red">*</span> {% endif %}
                            {{ form.start_date }}
                            {% if form.start_date.help_text %}
                                <small class="form-text text-muted">{{ form.start_date.help_text }}</small>
                            {% endif %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% buttons submit='Save Journey' reset='Cancel' layout='inline' %}{% endbuttons %}
    </form> 
</body>
   
{% endblock %}