{% extends "triplog/base.html" %}

{% block navigation %}
    {% include 'triplog/navigation.html' %}
{% endblock %}


{% block title %}
    {%if journey_details_title%}
        {{journey_details_title}}
    {%endif%}
{% endblock %}

{% block content %}
    <button type=button class="mx-3 btn btn-success" href="{% url 'addjourney' %}">Add New Journey</button>
    <h4 class="ml-3">Journey Details:</h4>
    <div class="container-fluid">
        <table class="table table-striped">
            <thead class="thead-dark">
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Travel From</th>
                <th scope="col">Travel To</th>
                <th></th>
            </thead>       
            <tbody>
                {% for JourneyDetails in object_list %}
                <tr>
                    <td>{{ JourneyDetails.start_date}}</td>
                    <td>{{ JourneyDetails.end_date}}</td>
                    <td>{{ JourneyDetails.travel_from}}</td>
                    <td>{{ JourneyDetails.travel_to}}</td>
                    <td><a href="{% url 'changejourney' JourneyDetails.pk %}" class="btn btn-secondary">CHANGE</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if is_paginated %}
            <ul class="pagination">
        {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
        {% else %}
           <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in paginator.page_range %}
        {% if page_obj.number == i %}
           <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
           <li><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
        {% else %}
            <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
        </ul>
        {% endif %}
    </div>
{% endblock %}