<!DOCTYPE html>
    {% load static %}
    
    {# Load the tag library #}
    {% load bootstrap4 %}
    {% load js_handlers %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

<html>
    <head id=sitemap-header class=sitemap-header>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% include 'sitemaps/_base_css_links.html' %}
        <title>Captains Log - Sitemaps</title>
        {% block head %}
        {% endblock head%}
    </head>

    <body id=sitemap-body class=sitemap-body>
        {% block bootstrap4_content %}
        <div id=sitemap-nav class="sitemap-nav container-fluid bg-dark text-white col-12">
            <!--Use .container-fluid for a full width container, spanning the entire width of the viewport.-->
            {% block navigation %}
            {% endblock navigation %}
        </div>
        {% endblock bootstrap4_content %}
        <!-- {% autoescape off %}{% bootstrap_messages %}{% endautoescape %} -->
        {% block content %}
            (no content)
        {% endblock %} 

        <footer id=sitemap-footer class=sitemap-footer>
            <p>&copy; Michael Naylor
                <script 
                    type="text/javascript">document.write( new Date().getFullYear() );
                </script>
            </p>
        </footer>
        {% block script %}
            {% include 'sitemaps/_base_script_src.html' %}
        {% endblock script %}
    </body>
</html>
<script>
window.addEventListener('DOMContentLoaded', function(){
        setupCloseBtns();
    });
function setupCloseBtns() {
    for (var button of 
            document.querySelectorAll('.CloseBtn')
        ){
    button.setAttribute("onclick", "{% go_to_url 'sitemaps:routetable' %}")
        }
};

</script>