<!DOCTYPE html>
{% load static %}

<html>
<head>
  <meta charset='utf-8' />
  <title>Create a route using the Mapbox Directions API</title>
  
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.13.0/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.13.0/mapbox-gl.css' rel='stylesheet'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://npmcdn.com/@turf/turf@5.1.6/turf.min.js"></script>
  <style>
  body { margin:0; padding:0; }
  #map { position:absolute; top:0; bottom:0; width:100%; }
  </style>
</head>
<body>
<style>
    .info-box {
        height: 120px;
        width: 150px;
        position: absolute;
        top: 20px;
        left: 10px;
        background-color: rgba(255, 255, 255, .9);
        padding: 15px;
        text-align: left;
        font-family: 'Arial';
        margin: 0;
        font-size: 13px;
    }
    #export, #updateDataset, #calcRoute {
        position: absolute;
        top:160px;
        left:10px;
        z-index:100;
        background-color:white;
        color: blue;
        padding:6px;
        border-radius:4px;
        font-family: 'Helvetica Neue';
        cursor: pointer;
        font-size:12px;
        text-decoration:none;
        height: 20px;
        width: 20px;
    }
    #export {
        background-image: url(../../static/sitemaps/pictures/file-export-solid.svg);
        background-repeat: no-repeat;
        background-size: 25px;
        background-position:center;
    }
    #updateDataset {
        background-image: url(../../static/sitemaps/pictures/save-solid.svg);
        background-repeat: no-repeat;
        background-size: 25px;
        background-position:center;
    }
    #calcRoute {
        background-image: url(../../static/sitemaps/pictures/route-solid.svg);
        background-repeat: no-repeat;
        background-size: 25px;
        background-position:center;
    }
    #export:hover, #updateDataset:hover, #calcRoute:hover{
        background-color: #aaa;
    }
    .export .exporttip {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
    }
    .export:hover .exporttip {
        visibility: visible;
    }
    .update .updatetip {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
    }
    .update:hover .updatetip {
        visibility: visible;
    }
    .calc-route .routetip {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
    }
    .calc-route:hover .routetip {
        visibility: visible;
    }
    #updateDataset {
        top: 200px;
    }
    #calcRoute {
        top: 240px;
    }
    #features {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 50%;
        overflow: auto;
        background: rgba(255, 255, 255, 0.8);
    }
    #map canvas {
        cursor: crosshair;
    }
    .hide {
        position: absolute !important;
        top: -9999px !important;
        left: -9999px !important;
    }
</style>

<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.2.0/mapbox-gl-draw.js"></script>
<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.2.0/mapbox-gl-draw.css' type='text/css'/>
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.js"></script>
<link rel="stylesheet"
href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.css"
type="text/css"
/>
<link href="{% static 'sitemaps/css/feature-info.css' %}" rel="stylesheet" type="text/css">
<script src="{% static 'sitemaps/js/feature-info.js' %}"></script>
<script src="{% static 'sitemaps/js/feature-modes.js' %}"></script>

<div id='map'></div>
<div class='info-box'>
  <p>Draw your route using the draw tools (25 points max)</p>
  <div id='calculated-line'></div>
    <div class='export'>
        <a href='#' id='export' ></a>
            <div class='exporttip'>Export the line</div>
    </div>
    <div class='update'>
        <a href="#" id='updateDataset'></a>
            <div class='updatetip'>Update the line</div>
    </div>
    <div class='calc-route'>
        <a href="#" id='calcRoute'></a>
            <div class='routetip'>Calculate the route</div>
    </div>
</div>
<!-- <pre id="features"></pre> -->

<script>
    var mbat = "{{mapbox_access_token}}"
    mapboxgl.accessToken=mbat;
    // mapboxgl.accessToken = 'pk.eyJ1IjoiZ3JhZmEiLCJhIjoiY2oydGJoajI5MDA1bjJxbzZzZjd5MXl3NSJ9.vNVFm6NsFzeX0AGSjFHpqg';
    
    var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/satellite-streets-v11',
            center: [-0.827610, 51.182250],
            zoom: 5
        });
    var datasetId = "test.geojson";
    // GeoJSON object to hold our measurement features
    var geojson = {
        'type': 'FeatureCollection',
        'features': []
    };
    var geoJsonFeatures;
    var routeCoords;
    DrawNamedLineMode.showNamePrompt = true;
    
    var draw = new MapboxDraw({
        displayControlsDefault: false,
        controls: {
            point: true,
            line_string: true,
            trash: true
        },
        modes: Object.assign({
        //     lots_of_points: LotsOfPointsMode,
        }, MapboxDraw.modes, {
            draw_line_string: DrawNamedLineMode,
        }),
    });
    var scale = new mapboxgl.ScaleControl({
        maxWidth: 200,
        unit: 'metric'
    });
    var navigation = new mapboxgl.NavigationControl({

    });

    var linestringcontrol = new LineStringInfoControl ({
        distanceUnits: 'kilometers',
            drawControl: draw,
            editProperties: [
            {
                name: 'name',
                label: 'Name'
            }
        ],
        defaultTitle: 'Line'
    });
    var multilinecontrol = new MultiLineInfoControl ({
        distanceUnits: 'kilometers',
            drawControl: draw,
            editProperties: [
            {
                name: 'name',
                label: 'Name'
            }
        ],
        defaultTitle: 'Line'
    });
    var pointcontrol = new PointInfoControl({
        drawControl: draw,
        editProperties: [
            {
                name: 'name',
                label: 'Name'
            }
        ],
        defaultTitle: 'Point'
        });
     var directions = new MapboxDirections({
        accessToken: mapboxgl.accessToken,
        controls: [{
            inputs: false,
            instructions: false
        }]
    });

    // add the draw tool to the map
    
    map.on('load', function(e) {
        map.addControl(navigation);
        map.addControl(scale);
        map.addControl(draw, 'bottom-right');
        map.addControl(linestringcontrol);
        map.addControl(pointcontrol);
        map.addControl(multilinecontrol);
        // Comment out for now this does
        // 1) reads a predefined dataset
        // 2) copies to to a variable geoJsonFeatures
        // 3) loads a new source
        // getData(datasetId);
        // map.addSource('test', {type: 'geojson', data: geoJsonFeatures});
        // map.addLayer({
        //     'id': 'test',
        //     'type': 'line',
        //     'source': 'test',
        //     'paint': {
        //         'line-color': '#8B0000',
        //         'line-width': 3,
        //     },
        //     'filter': ['==', '$type', 'LineString']
        // });
        // drawControlClick();
        //draw.changeMode('lots_of_points', {count:7});
    });
    map.on('click', function (e) {
        // //var features = map.queryRenderedFeatures(e.point, {sources: ['mapbox-gl-draw-hot', 'mapbox-gl-draw-cold'], "filter": ["==", "$type", "LineString"]}); 

        // var features = draw.getAll().features;
        // var el = document.getElementById('NameForm');
        // //if it exists then
        // if (typeof(el) != 'undefined' && el != null){
        //     const selectedFeatures = draw.getAll().features;
        //     const newName = el.querySelector('input').value
        //     for (const feature of selectedFeatures) {
        //         if (draw.get(feature.id).properties.name) {
        //             // already has a name - don't change it
        //         }
        //         else {
        //             draw.setFeatureProperty(feature.id, 'name', newName);
        //         };
        //     };
        // };
        // if (features.length == 0) {
        //     document.getElementById('calculated-line').innerHTML = "Select a draw tool to start!";
        //     //alert("Select a draw tool to start!");
        // }
        // else {
        //     hideNameFormControl();
        // };
    });
    map.on('mousemove', function(e){
        // var features = map.querySourceFeatures('mapbox-gl-draw-hot', {"filter":["==", "$type", "LineString"]}); 
        // if (features.length != 0) {
        //     console.log(features);
        // };
        // let lineDistance = 0;
        // var el = document.getElementById('NameForm');
        // var a_features = draw.getAll().features;
        // var s_features = draw.getSelected().features;
        // var filterall = a_features.filter(item => {if(item.geometry.type === "LineString"){ return item;};})
        // var filterselected = s_features.filter(item => {if(item.geometry.type === "LineString"){ return item;};})
        // if (s_features.length > 0) {
        //     features = filterselected;
        //     console.log('filter selected');
        // }
        // else {
        //     features = filterall;
        //     console.log(draw.getAll({filter: ["==", "$type","Point"]}));
        //     console.log("Hot: ",map.querySourceFeatures('mapbox-gl-draw-hot'), "Cold: ",map.querySourceFeatures('mapbox-gl-draw-cold'), 'filter all');
        // }

        // if (features.length > 0) {
        //     var featurename = features[0].properties.name;
        //     if (typeof(featurename) != 'undefined' && featurename != null){
        //         featurename = features[0].properties.name;
        //     }
        //     else {
        //         if (typeof(el) != 'undefined' && el != null){
        //             featurename = el.querySelector('input').value;
        //         };
        //     };
        //     lineDistance = features.reduce((accumulated, feature) => accumulated + length(feature, {units: 'kilometers'}), 0);
        //     if (lineDistance != 0) {
        //         document.getElementById('calculated-line').innerHTML = 'Line Distance: ' + lineDistance.toFixed(2) + ' km<br>';
        //     };
        //     // console.log(features[0].properties.name, ": - ", lineDistance, " km");
        // };
    });

    // add create, update, or delete actions
    map.on('draw.create', updateRoute);
    map.on('draw.update', updateRoute);
    map.on('draw.delete', removeRoute);
    map.on('draw.selectionchange', changeRoute);

    function changeRoute (){
       //console.log("change", draw.getMode(), draw.getAll());
    }

    // use the coordinates you just drew to make your directions request
    function updateRoute(e) {
        //var data = draw.getAll().features;
        var data = e.features;

        removeRoute(); // overwrite any existing layers
        if (data[0].geometry.type != "Point") {
            var answer = document.getElementById('calculated-line');
            var lastFeature = data.length - 1;
            var coords = data[lastFeature].geometry.coordinates;
            var newCoords = coords.join(';')
            answer.innerHTML = "Points on line: " + coords.length + "<br>";
            routeCoords = newCoords
        }
        else {
            document.getElementById('calculated-line').innerHTML = '';
        };
        //getMatch(newCoords);
    }

    // make a directions request
    function getMatch(e) {
        // https://www.mapbox.com/api-documentation/#directions
        var url = 'https://api.mapbox.com/directions/v5/mapbox/driving/' + e +'?geometries=geojson&steps=true&&access_token=' + mapboxgl.accessToken;
        var req = new XMLHttpRequest();
        req.responseType = 'json';
        req.open('GET', url, true);
        req.onload  = function() {
        var jsonResponse = req.response;
        var distance = jsonResponse.routes[0].distance*0.001; // convert to km
        var duration = jsonResponse.routes[0].duration/60; // convert to minutes
        // add results to info box
        document.getElementById('calculated-line').innerHTML = document.getElementById('calculated-line').innerHTML + 'Distance: ' + distance.toFixed(2) + ' km<br>Duration: ' + duration.toFixed(2) + ' minutes';
        var coords = jsonResponse.routes[0].geometry;
        // add the route to the map
        addRoute(coords);
        };
        req.send();
    }

    // adds the route as a layer on the map
    function addRoute (coords) {
    // check if the route is already loaded
    if (map.getSource('route')) {
        map.removeLayer('route')
        map.removeSource('route')
    } else{
        map.addLayer({
        "id": "route",
        "type": "line",
        "source": {
            "type": "geojson",
            "data": {
            "type": "Feature",
            "properties": {},
            "geometry": coords
            }
        },
        "layout": {
            "line-join": "round",
            "line-cap": "round"
        },
        "paint": {
            "line-color": "#3b9ddd",
            "line-width": 8,
            "line-opacity": 0.8
        }
        });
    };
    }
    // remove the layer if it exists
    function removeRoute () {
    if (map.getSource('route')) {
        map.removeLayer('route');
        map.removeSource('route');
        document.getElementById('calculated-line').innerHTML = '';
        // var data = draw.getAll();
        // var countofFeatures = data.features.length;
        // var delFeatures = [];
        // var i;
        // for (i=0; i < (countofFeatures - 1); i++) {
        //     delFeatures[i] = data.features[i].id;
        // }
        // draw.delete(delFeatures);
    } else  {
        return;
    }
    }

    document.getElementById('export').onclick = function(e) {
        // Extract GeoJson from featureGroup
        var data = draw.getAll();

        if (data.features.length > 0) {
            // Stringify the GeoJson
            var convertedData = 'text/json;charset=utf-8,' + encodeURIComponent(JSON.stringify(data));

            // Create export
            document.getElementById('export').setAttribute('href', 'data:' + convertedData);
            document.getElementById('export').setAttribute('download','data.geojson');    
        } else {
            alert("Wouldn't you like to draw some data?");
        }
        
    }
    document.getElementById('updateDataset').onclick = function(e) {
        e.preventDefault();
        uploadFeatures();
    }
    document.getElementById('calcRoute').onclick = function(e) {
        getMatch(routeCoords);
    }

    function setFeatureId(){
    return getData(datasetId);
    }   

    function getData(datasetId) {
        $.ajax({
        url : "/static/data/" + datasetId,
        type : 'GET',
        dataType: 'json',
        async: false
        })
        .done(function(oldData){
            geoJsonFeatures = oldData;
            return geoJsonFeatures;
        });
    }

    function uploadFeatures(){
        var drawnData = draw.getAll();
        var i;
        if (drawnData.features.length > 0) {
        for(i = 0; i < drawnData.features.length; i++){

            var xmlhttp = new XMLHttpRequest();   // new HttpRequest instance 
            xmlhttp.open("POST", "/static/data/route2.geojson");
            xmlhttp.setRequestHeader("Content-Type", "application/json");
            xmlhttp.send(JSON.stringify({"feature":drawnData.features[i], "datasetId": "route2"}));

            xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200 && i == drawnData.features.length) {
                alert('upload successful!');

                getData(datasetId);
            } else if (xmlhttp.readyState == 4 && xmlhttp.status !== 200){
                alert('looks like something went wrong');
            }
        };
        }
        }
        else {
            alert("Wouldn't you like to draw some data?");
        }
    }

    // function drawControlClick (){
    //     // add listeners for click on all the draw controls
    //     var lineelements = document.getElementsByClassName(" mapbox-gl-draw_ctrl-draw-btn mapbox-gl-draw_line")
    //     var pointelements = document.getElementsByClassName(" mapbox-gl-draw_ctrl-draw-btn mapbox-gl-draw_point")
    //     var trashelements = document.getElementsByClassName(" mapbox-gl-draw_ctrl-draw-btn mapbox-gl-draw_trash")

    //     var nameFeatureFunction = function (e){
    //         if (showNamePrompt) {
    //             hideNameFormControl (e.srcElement.title.split(" ")[0]);
    //         }
    //     };
    //     Array.from(lineelements).forEach(function(element) {
    //         element.addEventListener("click", nameFeatureFunction);
    //         element.addEventListener("mousedown", nameFeatureFunction);
    //     });
    //     Array.from(pointelements).forEach(function(element) {
    //         element.addEventListener("click", nameFeatureFunction);
    //         element.addEventListener("mousedown", nameFeatureFunction);
    //     });
    //     Array.from(trashelements).forEach(function(element) {
    //         element.addEventListener("click", nameFeatureFunction);
    //         element.addEventListener("mousedown", nameFeatureFunction);
    //     });

    //  };

    // function updateNameForm(type) {
    //     // Get the NameForm 
    //     var el = document.getElementById('NameForm');
    //     el.childNodes[0].nodeValue = (type + ' Name:');
    //     el.visible = true;
    //     el.querySelector('input').value = "";
    //     el.querySelector('input').focus();
    // };
     
    // function setupNameForm(type) {
    //     var formContainer_el = document.createElement('div');
    //     formContainer_el.className= 'mapboxgl-draw-named--name-container mapboxgl-custom-control';
    //     formContainer_el.id = "NameForm";
    //     formContainer_el.visible = true;
    //     var input_el = document.createElement('input');
    //     input_el.type = 'text';
    //     input_el.className = 'mapboxgl-draw-named--name-input';
    //     var button_el = document.createElement('button');
    //     button_el.textContent = 'Create';
    //     button_el.setAttribute('type', 'button');
    //     formContainer_el.appendChild(document.createTextNode(type + ' Name:'));
    //     formContainer_el.appendChild(input_el);
    //     formContainer_el.appendChild(button_el);
    //     document.body.appendChild(formContainer_el);

    //     var msgContainer_el = document.createElement('div');
    //     msgContainer_el.className= 'mapboxgl-draw-named--msg-container mapboxgl-custom-control';
    //     msgContainer_el.id = "NameMsgForm";
    //     var msg_el = document.createElement('p')
    //     msg_el.id = "NamemessageTxt"
    //     msgContainer_el.style = 'display: none';
    //     msgContainer_el.appendChild(msg_el);
    //     formContainer_el.appendChild(msgContainer_el)

    //     button_el.addEventListener('click', (e) => onCreateButtonClick(input_el.value, msg_el));
    //     input_el.addEventListener('keyup', (e) => this.onNameInputKeyUp(e, input_el.value, msg_el));
        
    //     input_el.focus();
    // };

    // function onCreateButtonClick(drawname, p) {
    //     checkdrawObjectName(drawname, p);

    // }
    // function onNameInputKeyUp(e, drawname, p ) {
    //     if (isEnterKey(e)) {
    //         checkdrawObjectName(drawname, p);
    //     } else if (isEscapeKey(e)) {
    //         hideNameFormControl () ;
    //     }
    // }
    // function checkdrawObjectName (drawname, p) {
        
    //     if (drawname.length == 0 && isNameRequired) {
    //         p.innerHTML = "The name cannot be blank";
    //         p.parentNode.style = 'display: block';
    //     }
    //     else {
    //         p.parentNode.style = 'display: none';
    //         hideNameFormControl ();
    //     }
    // }

    // function hideNameFormControl (type) {
    //     // the 'type' is the button type clicked
    //     // Get the NameForm
    //     var typeexists = (typeof(type) != 'undefined' && type != null)
    //     var el = document.getElementById('NameForm');
    //     //if it exists then
    //     if (typeof(el) != 'undefined' && el != null){
    //         //If the form is the same as the button clicked hide it
    //         if((el.innerText.split(" ")[0]) == type) {
    //             //el.parentNode.removeChild(el);
    //             //and the form is visible then hide it
    //             if (el.visible) {
    //                 el.classList.add("hide");
    //                 el.visible = false;
    //                 el.querySelector('input').value = "";
    //                 el.querySelector('input').focus();
    //             }
    //             // otherwise show it
    //             else {
    //                 el.visible = true;
    //                 el.classList.remove("hide");
    //                 el.querySelector('input').value = "";
    //                 el.querySelector('input').focus();
    //             };
    //         }
    //         else {
    //             //otherwise update the right name form if it is showing
    //             //el.parentNode.removeChild(el);
    //             if (el.visible) {
    //                 if (typeexists){
    //                     if(type != 'Delete'){
    //                         updateNameForm(type);
    //                     }
    //                     else {
    //                         el.classList.add("hide");
    //                         el.visible = false;
    //                     };
    //                 }
    //                 else {
    //                     el.classList.add("hide");
    //                     el.visible = false;
    //                 };
    //             }
    //             else {
    //                 if (typeexists){
    //                     if(type != 'Delete'){
    //                         updateNameForm(type);
    //                         el.visible = true;
    //                         el.classList.remove("hide");
    //                     }
    //                     else {
    //                         //clicked the delete so don't show anything
    //                     };
    //                 };
    //             };
    //         };
    //     }
    //     else {
    //         // if there is no name form then add one provided the button clicked is not trash 
    //         if(type != 'Delete'){
    //             setupNameForm(type);
    //         };
    //     };
        
    // };

</script>