{% extends "triplog/base.html" %}

{% load bootstrap4 %}
{% load crispy_forms_tags %}

{% block title %}
  Reset your Password
{% endblock %}

{% block content %}
  <form action="" method="post">
  {% csrf_token %}
  <div class="col-sm-6 col-sm-offset-3">
  <input  type="hidden"  name="next"  value="{{ next }}">
  {% crispy form %}

  {% if form.email.errors %}
    {{ form.email.errors }}
  {% endif %}
   
    <input type="submit" class="btn btn-primary btn-block" value="Reset password using email address">
  </div>
  </form>
{% endblock %}